### References: 
1. https://data36.com/scrape-multiple-web-pages-beautiful-soup-tutorial/
2. https://www.youtube.com/watch?v=MH3641s3Roc&ab_channel=Pythonology

Problem: We are looking to move out of our current apartment because rent is a little too high. I would like to look for apartments in the Austin, TX area that fit my budget of 1600 or less. I would also like this apartment to be fairly close to grocery stores and food places so I can walk to get groceries instead of having to use my car all the time. 
Solution: Webscrape apartment data to view prices of apartments in the Austin, TX area and see if I can also scrape data for major grocery stores in the specific zip codes I'm interested in
Grocery Stores I like:
- Sams Club
- Costco 
- Trader Joes 
- Target 
- HEB
- Whole Foods

Plan for Apartments: 
1. Take a look at apartments.com to see if i can access and scrape the data from that site 
 2. Get about 100 - 200 apartments with my specifications 
 
Plan for Grocery Store: 
1. Take a look at Yelp, Maps.com, and more places to see if you can search out addresses for all grocery stores interested in being near 
2. Get about 50-100 grocery locations 

Geocoding:
1. Geocode all addresses for both apartments as well as grocery stores 

Visualization:
1. Visualize everythihng in Tableau "We'll try using Tableau Public for this"

Additional Ideas:
- See if I can put this all in an application of sorts that I can check all the time
- See if I can create a connector to refresh my code manually with a button and then connect it to my tableau vizualizations to be refreshed
- See if I can write my data into sequel (maybe do manual updated when things are saved after every refresh)

In [1]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
from datetime import datetime

In [2]:
address = [ ]
price = [ ]
bed = [ ]
amenities = [ ]

for i in range(1,15):
    url = f"https://www.apartments.com/austin-tx/min-1-bedrooms-800-to-1550/{i}/"
    headers={"User-Agent": "Mozilla/5.0 (X11; CrOS x86_64 12871.102.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.141 Safari/537.36"}
    
    response = requests.get(url, headers=headers)
    response
    response = response.content
    
    soup = bs(response,'html.parser')
    print(soup.title)
    for div in soup.find_all('div', class_= "property-address js-url"):
        address.append(div.get_text(strip=True))
    for p in soup.find_all('p', class_= "property-pricing"):
        price.append(p.get_text(strip=True))
    for p in soup.find_all('p', class_= "property-beds"):
        bed.append(p.get_text(strip=True))
    for p in soup.find_all('p', class_="property-amenities"):
        amenities.append(p.get_text(strip=True, separator=", "))

<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals - Page 2 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals - Page 3 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals - Page 4 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals - Page 5 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals - Page 6 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals - Page 7 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals - Page 8 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals - Page 9 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals - Page 10 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals - Page 11 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals - Page 12 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals - Page 13 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals - Page 14 | Apartments.com</title>

In [3]:
for div in soup.find_all('div',class_="property-information"):
    name = div.a['aria-label']
name

'Village Oaks, Austin, TX'

In [4]:
print('Total No Addresses:',len(address))
for a in address[:5]:
    print(a)

Total No Addresses: 350
12300 Riata Trace Pky, Austin, TX 78727
8800 N Interstate 35, Austin, TX 78753
4711 E Riverside Dr, Austin, TX 78741
12041 Dessau Rd, Austin, TX 78754
4900 E Oltorf St, Austin, TX 78741

In [5]:
print('Total No of Prices:',len(price))
for p in price[:5]:
    print(p)

Total No of Prices: 350
$1,393 - 2,253
$999 - 1,505
$1,549 - 2,149
$1,331 - 1,436
$1,547 - 1,622

In [6]:
print('Total No of Beds:',len(bed))
for b in bed[:10]:
    print(b)

Total No of Beds: 350
1-2 Beds
1 Bed
1 Bed
1-2 Beds
1-2 Beds
1 Bed
1 Bed
1 Bed
1 Bed
1 Bed

In [7]:
print('Total No of amenities:',len(amenities))
for l in amenities[:5]:
    print(l)

Total No of amenities: 137
Dog & Cat Friendly, Fitness Center, In Unit Washer & Dryer, Maintenance on site, Package Service, EV Charging
Fitness Center, Dishwasher, Refrigerator, In Unit Washer & Dryer, Clubhouse, Balcony, Range, Maintenance on site
Dog & Cat Friendly, Fitness Center, Pool, In Unit Washer & Dryer, Stainless Steel Appliances, Business Center, Granite Countertops, Rooftop Deck
Dog & Cat Friendly, Fitness Center, Pool, Dishwasher, Refrigerator, Kitchen, In Unit Washer & Dryer, Walk-In Closets
Dog & Cat Friendly, Fitness Center, Pool, Dishwasher, Refrigerator, Kitchen, In Unit Washer & Dryer, Walk-In Closets

In [8]:
apartments = [ ]

for i in range(1,15):
    url = f"https://www.apartments.com/austin-tx/min-1-bedrooms-800-to-1550/{i}/"
    headers={"User-Agent": "Mozilla/5.0 (X11; CrOS x86_64 12871.102.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.141 Safari/537.36"}
    response = requests.get(url, headers=headers)
    response
    response = response.content
    soup = bs(response,'html.parser')
    print(soup.title)
    for listing in soup.find_all('li', class_= "mortar-wrapper"):
        apartment = {}
        for div in listing.find_all('div',class_="property-information"):
            apartment['name'] = div.a['aria-label']
        for div in listing.find_all('div', class_= "property-address js-url"):
            apartment['address'] = div.get_text(strip=True)
        for p in listing.find_all('p', class_= "property-pricing"):
            apartment['price'] = p.get_text(strip=True)
        for p in listing.find_all('p', class_= "property-beds"):
            apartment['beds'] = p.get_text(strip=True)
        for p in listing.find_all('p', class_="property-amenities"):
            apartment['amenities'] = p.get_text(strip=True, separator=", ")
        apartments.append(apartment)

<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals - Page 2 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals - Page 3 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,013 Rentals - Page 4 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,028 Rentals - Page 5 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,028 Rentals - Page 6 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,028 Rentals - Page 7 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,028 Rentals - Page 8 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,028 Rentals - Page 9 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,028 Rentals - Page 10 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,028 Rentals - Page 11 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,028 Rentals - Page 12 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,028 Rentals - Page 13 | Apartments.com</title>
<title> 1 Bedroom Apartments under $1,550 in Austin TX - 8,028 Rentals - Page 14 | Apartments.com</title>

In [9]:
print(apartment['name'])

Village Oaks, Austin, TX

In [10]:
print(len(apartments))
for apartment in apartments[:5]:
    print(apartment)

350
{'name': 'Riata, Austin, TX', 'address': '12300 Riata Trace Pky, Austin, TX 78727', 'price': '$1,393 - 2,253', 'beds': '1-2 Beds', 'amenities': 'Dog & Cat Friendly, Fitness Center, In Unit Washer & Dryer, Maintenance on site, Package Service, EV Charging'}
{'name': 'Starburst Apartments, Austin, TX', 'address': '8800 N Interstate 35, Austin, TX 78753', 'price': '$999 - 1,505', 'beds': '1 Bed', 'amenities': 'Fitness Center, Dishwasher, Refrigerator, In Unit Washer & Dryer, Clubhouse, Balcony, Range, Maintenance on site'}
{'name': 'Edison Riverside, Austin, TX', 'address': '4711 E Riverside Dr, Austin, TX 78741', 'price': '$1,549 - 2,149', 'beds': '1 Bed', 'amenities': 'Dog & Cat Friendly, Fitness Center, Pool, In Unit Washer & Dryer, Stainless Steel Appliances, Business Center, Granite Countertops, Rooftop Deck'}
{'name': 'Bristol Heights, Austin, TX', 'address': '12041 Dessau Rd, Austin, TX 78754', 'price': '$1,331 - 1,436', 'beds': '1-2 Beds', 'amenities': 'Dog & Cat Friendly, Fitness Center, Pool, Dishwasher, Refrigerator, Kitchen, In Unit Washer & Dryer, Walk-In Closets'}
{'name': 'The Aspect, Austin, TX', 'address': '4900 E Oltorf St, Austin, TX 78741', 'price': '$1,547 - 1,622', 'beds': '1-2 Beds', 'amenities': 'Dog & Cat Friendly, Fitness Center, Pool, Dishwasher, Refrigerator, Kitchen, In Unit Washer & Dryer, Walk-In Closets'}

In [11]:
print(apartment['amenities'])

Dog & Cat Friendly, Fitness Center, Pool, Dishwasher, Refrigerator, Kitchen, In Unit Washer & Dryer, Walk-In Closets

In [12]:
apartments_df = pd.DataFrame(apartments)
apartments_df.head(5)

,name,address,price,beds,amenities
0,"Riata, Austin, TX","12300 Riata Trace Pky, Austin, TX 78727","$1,393 - 2,253",1-2 Beds,"Dog & Cat Friendly, Fitness Center, In Unit Wa..."
1,"Starburst Apartments, Austin, TX","8800 N Interstate 35, Austin, TX 78753","$999 - 1,505",1 Bed,"Fitness Center, Dishwasher, Refrigerator, In U..."
2,"Edison Riverside, Austin, TX","4711 E Riverside Dr, Austin, TX 78741","$1,549 - 2,149",1 Bed,"Dog & Cat Friendly, Fitness Center, Pool, In U..."
3,"Bristol Heights, Austin, TX","12041 Dessau Rd, Austin, TX 78754","$1,331 - 1,436",1-2 Beds,"Dog & Cat Friendly, Fitness Center, Pool, Dish..."
4,"The Aspect, Austin, TX","4900 E Oltorf St, Austin, TX 78741","$1,547 - 1,622",1-2 Beds,"Dog & Cat Friendly, Fitness Center, Pool, Dish..."

In [13]:
apartments_df['name'] = apartments_df['name'].str.replace(r',[^,]*$', '')
apartments_df['name'] = apartments_df['name'].str.replace(r',[^,]*$', '')

/var/folders/0k/r3nvlvy97cgdhjrb4v697trw0000gn/T/ipykernel_81836/386469173.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  apartments_df['name'] = apartments_df['name'].str.replace(r',[^,]*$', '')
/var/folders/0k/r3nvlvy97cgdhjrb4v697trw0000gn/T/ipykernel_81836/386469173.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  apartments_df['name'] = apartments_df['name'].str.replace(r',[^,]*$', '')

In [14]:
apartments_df

,name,address,price,beds,amenities
0,Riata,"12300 Riata Trace Pky, Austin, TX 78727","$1,393 - 2,253",1-2 Beds,"Dog & Cat Friendly, Fitness Center, In Unit Wa..."
1,Starburst Apartments,"8800 N Interstate 35, Austin, TX 78753","$999 - 1,505",1 Bed,"Fitness Center, Dishwasher, Refrigerator, In U..."
2,Edison Riverside,"4711 E Riverside Dr, Austin, TX 78741","$1,549 - 2,149",1 Bed,"Dog & Cat Friendly, Fitness Center, Pool, In U..."
3,Bristol Heights,"12041 Dessau Rd, Austin, TX 78754","$1,331 - 1,436",1-2 Beds,"Dog & Cat Friendly, Fitness Center, Pool, Dish..."
4,The Aspect,"4900 E Oltorf St, Austin, TX 78741","$1,547 - 1,622",1-2 Beds,"Dog & Cat Friendly, Fitness Center, Pool, Dish..."
...,...,...,...,...,...
345,District at SoCo,"501 E Oltorf St, Austin, TX 78704","$1,406 - 3,463",1 Bed,NaN
346,Madison at the Arboretum,"10307 Morado Cove, Austin, TX 78759","$1,310 - 2,114",1-2 Beds,NaN
347,Urban Villas,"4411 Airport Blvd, Austin, TX 78722","$1,345",1-2 Beds,NaN
348,San Paloma Apartments,"12501 Tech Ridge Blvd, Austin, TX 78753","$1,200 - 1,590",1 Bed,NaN
349,Village Oaks,"10926 Jollyville Rd, Austin, TX 78759","$1,090 - 2,285",1-2 Beds,NaN

In [15]:
#Cleaning and Seperating Address Column
apartments_df[['street', 'city', 'state/zip']] = apartments_df['address'].str.split(',', 2, expand=True)
apartments_df[['state', 'poscode']] = apartments_df['state/zip'].str.split(' ', 1, expand=True)
apartments_df[['state', 'zipcode']] = apartments_df['poscode'].str.split(' ', 1, expand=True)
apartments_df = apartments_df.drop(columns=['poscode', 'state/zip'])

In [16]:
apartments_df.head(5)

,name,address,price,beds,amenities,street,city,state,zipcode
0,Riata,"12300 Riata Trace Pky, Austin, TX 78727","$1,393 - 2,253",1-2 Beds,"Dog & Cat Friendly, Fitness Center, In Unit Wa...",12300 Riata Trace Pky,Austin,TX,78727
1,Starburst Apartments,"8800 N Interstate 35, Austin, TX 78753","$999 - 1,505",1 Bed,"Fitness Center, Dishwasher, Refrigerator, In U...",8800 N Interstate 35,Austin,TX,78753
2,Edison Riverside,"4711 E Riverside Dr, Austin, TX 78741","$1,549 - 2,149",1 Bed,"Dog & Cat Friendly, Fitness Center, Pool, In U...",4711 E Riverside Dr,Austin,TX,78741
3,Bristol Heights,"12041 Dessau Rd, Austin, TX 78754","$1,331 - 1,436",1-2 Beds,"Dog & Cat Friendly, Fitness Center, Pool, Dish...",12041 Dessau Rd,Austin,TX,78754
4,The Aspect,"4900 E Oltorf St, Austin, TX 78741","$1,547 - 1,622",1-2 Beds,"Dog & Cat Friendly, Fitness Center, Pool, Dish...",4900 E Oltorf St,Austin,TX,78741

In [17]:
#Cleaning Price Columns
apartments_df[['minprice', 'maxprice']] = apartments_df['price'].str.split('-', 1, expand=True)
apartments_df['minprice'] = apartments_df['minprice'].str.replace('$','',)
apartments_df['maxprice'] = apartments_df['maxprice'].str.replace('$','',)
apartments_df['minprice'] = apartments_df['minprice'].str.replace(',','',)
apartments_df['maxprice'] = apartments_df['maxprice'].str.replace(',','',)
apartments_df = apartments_df.drop(columns=['price'])

/var/folders/0k/r3nvlvy97cgdhjrb4v697trw0000gn/T/ipykernel_81836/2010576594.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  apartments_df['minprice'] = apartments_df['minprice'].str.replace('$','',)
/var/folders/0k/r3nvlvy97cgdhjrb4v697trw0000gn/T/ipykernel_81836/2010576594.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  apartments_df['maxprice'] = apartments_df['maxprice'].str.replace('$','',)

In [18]:
apartments_df['minprice'] = apartments_df['minprice'].str.replace('Call for Rent','0',)
apartments_df['minprice'] = apartments_df['minprice'].str.replace('None','0',)

In [19]:
apartments_df['maxprice'] = apartments_df['maxprice'].str.replace('Call for Rent','0',)
apartments_df['maxprice'] = apartments_df['maxprice'].str.replace('None','0',)

In [20]:
#Cleaning bedroom column
apartments_df[['minbed', 'maxbed']] = apartments_df['beds'].str.split('-', 1, expand=True)
apartments_df['minbed'] = apartments_df['minbed'].str.replace('Beds','',)
apartments_df['minbed'] = apartments_df['minbed'].str.replace('Bed','',)
apartments_df['maxbed'] = apartments_df['maxbed'].str.replace('Beds','',)
apartments_df['maxbed'] = apartments_df['maxbed'].str.replace('Bed','',)
apartments_df = apartments_df.drop(columns=['beds'])

In [21]:
apartments_df['maxbed'].value_counts()

2     142
3      53
4       5
5       3
6       2
Name: maxbed, dtype: int64

In [22]:
apartments_df = apartments_df.fillna(0)

In [23]:
today = datetime.now()
print(today)
date = today.strftime("%d/%m/%Y %H:%M:%S")
date

2023-04-05 03:34:20.252059

'05/04/2023 03:34:20'

In [24]:
apartments_df['building_type'] = 'APT'
apartments_df['date'] = date

In [25]:
apartments_df.head(5)

,name,address,amenities,street,city,state,zipcode,minprice,maxprice,minbed,maxbed,building_type,date
0,Riata,"12300 Riata Trace Pky, Austin, TX 78727","Dog & Cat Friendly, Fitness Center, In Unit Wa...",12300 Riata Trace Pky,Austin,TX,78727,1393,2253,1,2,APT,05/04/2023 03:34:20
1,Starburst Apartments,"8800 N Interstate 35, Austin, TX 78753","Fitness Center, Dishwasher, Refrigerator, In U...",8800 N Interstate 35,Austin,TX,78753,999,1505,1,0,APT,05/04/2023 03:34:20
2,Edison Riverside,"4711 E Riverside Dr, Austin, TX 78741","Dog & Cat Friendly, Fitness Center, Pool, In U...",4711 E Riverside Dr,Austin,TX,78741,1549,2149,1,0,APT,05/04/2023 03:34:20
3,Bristol Heights,"12041 Dessau Rd, Austin, TX 78754","Dog & Cat Friendly, Fitness Center, Pool, Dish...",12041 Dessau Rd,Austin,TX,78754,1331,1436,1,2,APT,05/04/2023 03:34:20
4,The Aspect,"4900 E Oltorf St, Austin, TX 78741","Dog & Cat Friendly, Fitness Center, Pool, Dish...",4900 E Oltorf St,Austin,TX,78741,1547,1622,1,2,APT,05/04/2023 03:34:20

In [26]:
convert_dict = {'minprice': float,
                'maxprice': float,
                'minbed': int,
                'maxbed': int,
                }
apartments_df = apartments_df.astype(convert_dict)
apartments_df['date'] = apartments_df['date'].astype('datetime64[ns]')
print(apartments_df.dtypes)

name                     object
address                  object
amenities                object
street                   object
city                     object
state                    object
zipcode                  object
minprice                float64
maxprice                float64
minbed                    int64
maxbed                    int64
building_type            object
date             datetime64[ns]
dtype: object

In [27]:
apartments_df.head(5)

,name,address,amenities,street,city,state,zipcode,minprice,maxprice,minbed,maxbed,building_type,date
0,Riata,"12300 Riata Trace Pky, Austin, TX 78727","Dog & Cat Friendly, Fitness Center, In Unit Wa...",12300 Riata Trace Pky,Austin,TX,78727,1393.0,2253.0,1,2,APT,2023-05-04 03:34:20
1,Starburst Apartments,"8800 N Interstate 35, Austin, TX 78753","Fitness Center, Dishwasher, Refrigerator, In U...",8800 N Interstate 35,Austin,TX,78753,999.0,1505.0,1,0,APT,2023-05-04 03:34:20
2,Edison Riverside,"4711 E Riverside Dr, Austin, TX 78741","Dog & Cat Friendly, Fitness Center, Pool, In U...",4711 E Riverside Dr,Austin,TX,78741,1549.0,2149.0,1,0,APT,2023-05-04 03:34:20
3,Bristol Heights,"12041 Dessau Rd, Austin, TX 78754","Dog & Cat Friendly, Fitness Center, Pool, Dish...",12041 Dessau Rd,Austin,TX,78754,1331.0,1436.0,1,2,APT,2023-05-04 03:34:20
4,The Aspect,"4900 E Oltorf St, Austin, TX 78741","Dog & Cat Friendly, Fitness Center, Pool, Dish...",4900 E Oltorf St,Austin,TX,78741,1547.0,1622.0,1,2,APT,2023-05-04 03:34:20

In [28]:
apartments_df

,name,address,amenities,street,city,state,zipcode,minprice,maxprice,minbed,maxbed,building_type,date
0,Riata,"12300 Riata Trace Pky, Austin, TX 78727","Dog & Cat Friendly, Fitness Center, In Unit Wa...",12300 Riata Trace Pky,Austin,TX,78727,1393.0,2253.0,1,2,APT,2023-05-04 03:34:20
1,Starburst Apartments,"8800 N Interstate 35, Austin, TX 78753","Fitness Center, Dishwasher, Refrigerator, In U...",8800 N Interstate 35,Austin,TX,78753,999.0,1505.0,1,0,APT,2023-05-04 03:34:20
2,Edison Riverside,"4711 E Riverside Dr, Austin, TX 78741","Dog & Cat Friendly, Fitness Center, Pool, In U...",4711 E Riverside Dr,Austin,TX,78741,1549.0,2149.0,1,0,APT,2023-05-04 03:34:20
3,Bristol Heights,"12041 Dessau Rd, Austin, TX 78754","Dog & Cat Friendly, Fitness Center, Pool, Dish...",12041 Dessau Rd,Austin,TX,78754,1331.0,1436.0,1,2,APT,2023-05-04 03:34:20
4,The Aspect,"4900 E Oltorf St, Austin, TX 78741","Dog & Cat Friendly, Fitness Center, Pool, Dish...",4900 E Oltorf St,Austin,TX,78741,1547.0,1622.0,1,2,APT,2023-05-04 03:34:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,District at SoCo,"501 E Oltorf St, Austin, TX 78704",0,501 E Oltorf St,Austin,TX,78704,1406.0,3463.0,1,0,APT,2023-05-04 03:34:20
346,Madison at the Arboretum,"10307 Morado Cove, Austin, TX 78759",0,10307 Morado Cove,Austin,TX,78759,1310.0,2114.0,1,2,APT,2023-05-04 03:34:20
347,Urban Villas,"4411 Airport Blvd, Austin, TX 78722",0,4411 Airport Blvd,Austin,TX,78722,1345.0,0.0,1,2,APT,2023-05-04 03:34:20
348,San Paloma Apartments,"12501 Tech Ridge Blvd, Austin, TX 78753",0,12501 Tech Ridge Blvd,Austin,TX,78753,1200.0,1590.0,1,0,APT,2023-05-04 03:34:20
349,Village Oaks,"10926 Jollyville Rd, Austin, TX 78759",0,10926 Jollyville Rd,Austin,TX,78759,1090.0,2285.0,1,2,APT,2023-05-04 03:34:20

In [29]:
e = today.strftime("%d.%m.%Y")
print(e)
fname = "./Addresses/addresses_{}.xlsx".format(e)
print(fname)
apartments_df.to_excel(fname)

05.04.2023
./Addresses/addresses_05.04.2023.xlsx

I would like to schedule this book to automatically run once a day or maybe once a week to collect apartment data for the austin area. 
A Keith Galli video I found on this could be super helpful for this: How to schedule and automatically run python code 
He mentions crontab, a tool that could be helpful in setting thhis up. This sould be fun to dig into and play with and I hope it works

SAVE TABLE TO SQL

In [30]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

In [31]:
hostname = 'localhost'
database = 'austin'
username = 'postgres'
pwd = '032197An'
port_id = 5432

In [32]:
try:    
    conn = psycopg2.connect(
        host = hostname,
        dbname = database,
        user = username,
        password = pwd,
        port = port_id)
except Exception as error:
    print(error)

In [33]:
cur = conn.cursor()

In [34]:
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

In [35]:
#Created a new database to in SQL to store the date
#cur.execute('CREATE DATABASE austin')

In [36]:
#Deleted any tables named austin if they existed
#cur.execute('DROP TABLE IF EXISTS apartments')

In [37]:
#Created new table in database to collect the data in the dataframe
#cur.execute("CREATE TABLE IF NOT EXISTS apartments (name VARCHAR(256), address VARCHAR(256),amenities VARCHAR(256), street VARCHAR(256), city VARCHAR(256), state VARCHAR(5), zipcode VARCHAR(10), minprice FLOAT, maxprice FLOAT, minbed INT, maxbed INT, building_type VARCHAR(5), date TIMESTAMP)")

In [38]:
#Need to research more about this,
engine = create_engine('postgresql+psycopg2://postgres:032197An@localhost/austin')
engine

Engine(postgresql+psycopg2://postgres:***@localhost/austin)

In [39]:
apartments_df.to_sql('apartments', engine, if_exists='append', index=False)

350

In [40]:
conn.commit

In [41]:
conn.close()